---
- name: Install dependency packages
  ansible.builtin.apt:
    name: "{{ redmine_dependency_packages }}"
- name: Add redmine user
  ansible.builtin.user:
    name: "{{ redmine_user }}"
    system: true
- name: Create install directory
  ansible.builtin.file:
    path: "{{ redmine_home }}"
    owner: "{{ redmine_user }}"
    group: "{{ redmine_user }}"
    state: directory
    mode: "0755"
