---
- name: Find pratform variable file
  ansible.builtin.set_fact:
    variable_file: "{{ lookup('first_found', params, errors='ignore') }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}/{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      paths:
        - vars
- name: Include variable file
  ansible.builtin.include_vars:
    file: "{{ variable_file }}"
  when: variable_file | length > 0
- name: Import dependency task
  ansible.builtin.import_tasks:
    file: dependency.yml
  tags: dependency
- name: Import database task
  ansible.builtin.import_tasks:
    file: database.yml
- name: Setup Redmine
  become: true
  become_user: "{{ redmine_user }}"
  environment:
    RAILS_ENV: "{{ redmine_mode }}"
    REDMINE_LANG: "{{ redmine_lang }}"
  block:
    - name: Checkout Redmine
      ansible.builtin.git:
        repo: "{{ redmine_repo }}"
        dest: "{{ redmine_home }}"
        version: "{{ redmine_version }}"
      register: checkout_result
    - name: Import setting task
      ansible.builtin.import_tasks:
        file: setting.yml
    - name: Install/update gem packages
      community.general.bundler:
        gemfile: "{{ redmine_home }}/Gemfile"
        deployment_mode: "{{ redmine_mode == 'production' }}"
        exclude_groups: "{{ redmine_mode == 'production' | ternary(['development', 'test'], omit) }}"
        state: latest
        chdir: "{{ redmine_home }}"
    - name: Create secret token
      ansible.builtin.command:
        cmd: bundle exec rake generate_secret_token
        chdir: "{{ redmine_home }}"
        creates: "{{ redmine_home }}/config/initializers/secret_token.rb"
      register: generate_token_result
    - name: Import restore task
      ansible.builtin.import_tasks:
        file: restore.yml
    - name: Migrate database
      ansible.builtin.command:
        cmd: bundle exec rake db:migrate
        chdir: "{{ redmine_home }}"
      notify: restart redmine
      when: |
        checkout_result is changed
        or
        db_config_result is changed
    - name: Load default data
      ansible.builtin.command:
        cmd: bundle exec rake redmine:load_default_data
        chdir: "{{ redmine_home }}"
      when:
        - generate_token_result is changed
        - not redmine_skip_load_default_data
    - name: Import theme task
      ansible.builtin.import_tasks:
        file: theme.yml
    - name: Import plugin task
      ansible.builtin.import_tasks:
        file: plugin.yml
    - name: Import Redmine setting import task
      ansible.builtin.import_tasks:
        file: import.yml
      when: |
        generate_token_result is changed
        or
        redmine_reimport | default(false)
    - name: Import custom script task
      ansible.builtin.import_tasks:
        file: custom_script.yml
- name: Import cron job task
  ansible.builtin.import_tasks:
    file: cron.yml
- name: Import service task
  ansible.builtin.import_tasks:
    file: service.yml
  tags: service
