---
- name: Check database restore file exists
  ansible.builtin.stat:
    path: "{{ redmine_restore_database_dump_file }}"
  register: redmine_restor_file_result
- name: Restore redmine database dump data
  when: redmine_restor_file_result.stat.exists
  block:
    - name: Restore Database
      ansible.builtin.include_tasks:
        file: restore/database/{{ redmine_db_cfg[redmine_mode]['adapter'] }}
    - name: Overwrite redmine_skip_load_default_data variable
      ansible.builtin.set_fact:
        redmine_skip_load_default_data: true
    - name: Clear cache
      ansible.builtin.command:
        cmd: bundle exec rake tmp:cache:clear
        chdir: "{{ redmine_home }}"
