[Unit]
Description=Redmine
{% if redmine_db_cfg[redmine_mode]['host'] is defined and redmine_db_cfg[redmine_mode]['host'] in ['localhost', '127.0.0.1']  -%}
{% if redmine_db_cfg[redmine_mode]['adapter'] in 'mysql2'%}
After=network.target mariadb.service
{% elif redmine_db_cfg[redmine_mode]['adapter'] == 'postgresql' -%}
After=network.target postgresql.service
{% endif -%}
{% else -%}
After=network.target
{% endif %}

[Service]
Type=simple
User={{ redmine_user }}
Group={{ redmine_group }}
Environment=REDMINE_LANG={{ redmine_lang }}
WorkingDirectory={{ redmine_root }}
ExecStart=/usr/bin/bundle exec puma -C {{ redmine_root }}/config/puma.rb -e {{ redmine_mode }}
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
