#  @see https://github.com/puma/puma/blob/master/docs/systemd.md
[Unit]
Description=Redmine server
{% if redmine_db_cfg[redmine_mode]['host'] is defined and redmine_db_cfg[redmine_mode]['host'] in ['localhost', '127.0.0.1']  -%}
{% if redmine_db_cfg[redmine_mode]['adapter'] in 'mysql2'%}
After=network.target mariadb.service
{% elif redmine_db_cfg[redmine_mode]['adapter'] == 'postgresql' -%}
After=network.target postgresql.service
{% endif -%}
{% else -%}
After=network.target
{% endif %}

[Service]
Type=simple
User={{ redmine_user }}
Group={{ redmine_group }}
EnvironmentFile=/etc/default/redmine
WorkingDirectory={{ redmine_root }}
ExecStart/bin/bash -c 'bundle exec rails server'
TimeoutSec=300
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
