---
BUNDLE_DISABLE_SHARED_GEMS: "true"
{% if redmine_gem_path -%}
BUNDLE_PATH: "{{ redmine_gem_path }}"
{% endif %}
{% if redmine_mode == 'production' -%}
BUNDLE_WITHOUT: "development:test"
{% endif %}
